* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5eada;
}

nav {
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #c4af9e;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 30px 10px 30px;
}

.nav_1 {
    display: flex;
    align-items: center;
}

.nav_1 a {
    text-decoration: none;
    color: #502314;
    margin: 10px;
    font-size: 20px;
}

.nav_1 img {
    width: 70px;
    height: 70px;
}

.nav_1 i {
    color: #502314;
}

.Inscribirse {
    background-color: #ea1d03;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.handbag {
    background-color: #502314;
    color: aliceblue;
    border: none;
    border-radius: 40px;
    padding: 10px 30px;
}

.idioma {
    display: flex;
    justify-content: flex-end;
    margin: 10px 40px;
}

.idioma a {
    text-decoration: none;
    color: #c4af9e;
}

.bienvenida {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #502314;
    color: aliceblue;
    padding: 20px;
}

.bienvenida button {
    background-color: #502314;
    border: 1px solid aliceblue;
    border-radius: 40px;
    padding: 10px 10px;
    color: aliceblue;
}

.bienvenida i {
    color: #ea1d03;
    background-color: #e6d1c1;
    border-radius: 100%;
    padding: 6px;
    margin-right: 10px;
    font-size: 20px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.row {
    display: flex;
    flex-direction: column;
}

.tarjet {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    color: #522617;
    margin: 10px;
    border-radius: 30px;
    width: 600px;
    height: 500px;
}

.tarjet img {
    width: 600px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
}

.text {
    padding: 20px;
    font-size: 13px;
}

.text p {
    margin-top: 10px;
    width: 390px;
    font-size: 15px;
}

.botoncin {
    display: flex;
    justify-content: end;
}
